{{ define "main" }}

<!-- blog post -->
<section class="section-sm" data-pagefind-ignore>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          {{ $paginator := .Paginate .Data.Pages }}
          {{ range $paginator.Pages }}
          {{ .Render "post" }}
          {{ end }}
        </div>
      </div>
      <!-- sidebar -->
      {{ partial "sidebar.html" . }}
      <!-- /sidebar -->

      <!-- pagination -->
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->
<!-- Waline 瀏覽量初始化 -->

<script type="module">
  import { pageviewCount } from 'https://unpkg.com/@waline/client@v3/dist/pageview.js';

  pageviewCount({
    serverURL: 'https://wenyang-waline.vercel.app',
    path: '/',  // 明確指定主頁路徑
    update: true
  });
</script>
  
{{ end }}

