{{ define "main" }}

<section class="section-sm">
  <div class="container pl-1 pr-4">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        
        {{ range .Params.Categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
          class="text-primary">{{ . | title | humanize }}</a>
        {{ end }}

        {{ range .Params.clubhouse }}
        <span class="mx-1">|</span> <a href="{{ `clubhouse/` | relLangURL }}{{ . | urlize | lower }}"
          class="text-info font-weight-bold">{{ . }}</a>
        {{ end }}

        <h2>{{ .Title | markdownify }}</h2>
        
        <div class="mb-3 text-center">
          <span>By {{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</span>
          {{ if not .Params.HideDate }}
          <span class="border-bottom border-primary px-2 mx-1"></span>
          <span>{{ .PublishDate.Format "02 January 2006" }}</span>
          {{ end }}
        </div>

        {{ if .Params.image }}
        <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        
        <div class="content mb-5">
          {{ .Content }}
        </div>

        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}