{{ define "main" }}

<section class="section-sm">
  <div class="container pl-1 pr-4">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        
        
        <div class="post-meta mb-2">
          {{ $taxonomies := slice "categories" "clubhouse" "topics" "series" "highlights" "projects" }}
          {{ $isFirst := true }}

          {{ range $tax := $taxonomies }}
            {{ with $.GetTerms $tax }}
              {{ range . }}
                {{ if not $isFirst }}<span class="mx-1 text-muted">|</span>{{ end }}
                <a href="{{ .Permalink }}" class="text-primary font-weight-bold">
                  {{ .LinkTitle }}
                </a>
                {{ $isFirst = false }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>

        <h2>{{ .Title | markdownify }}</h2>
        
        <div class="mb-3 text-center">
          <span>By {{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</span>
          {{ if not .Params.HideDate }}
          <span class="border-bottom border-primary px-2 mx-1"></span>
          <span>{{ .PublishDate.Format "02 January 2006" }}</span>
          {{ end }}
        </div>

        {{ if .Params.image }}
        <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        
        <div class="content mb-5">
          {{ .Content }}
        </div>

        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}