{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        {{ if .Params.Image }}
        {{/* 1. 從 assets 抓取並轉 WebP */}}
        {{- $src := strings.TrimPrefix "/" .Params.Image -}}
        {{- $img := resources.Get $src -}}
        
        <div class="mb-4"> {{/* 確保圖片自成一行，不跟文字擠在一起 */}}
          {{ if $img }}
            {{- $webp := $img.Process "webp" -}}
            <img src="{{ $webp.RelPermalink }}" 
                 class="img-fluid rounded-circle" 
                 style="width: 400px; height: 400px; object-fit: cover;" 
                 alt="{{ .Title }}">
          {{ else }}
            {{/* 備案：若 assets 找不到，讀取原本路徑 */}}
            <img src="{{ .Params.Image | absURL }}" 
                 class="img-fluid rounded-circle" 
                 style="width: 400px; height: 400px; object-fit: cover;" 
                 alt="{{ .Title }}">
          {{ end }}
        </div>
      {{ end }}
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
        <h4 class="widget-title">Experience</h4>
        <ul class="timeline">
          <!-- Item 1 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="flag">師大公領系
                </span>
                <span class="time-wrapper"><span class="time">Sep 2015</span></span>
              </div>
              <div class="desc">2019年畢業於國立臺灣師範大學公民教育與活動領導學系。</div>
            </div>
          </li>
        
          <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="flag">人生百味</span>
                <span class="time-wrapper"><span class="time">Aug 2018</span></span>
              </div>
              <div class="desc">大三下學期。</div>
            </div>
          </li>
        
          <!-- Item 3 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="flag">東吳社工研究所</span>
                <span class="time-wrapper"><span class="time">May 2025</span></span>
              </div>
              <div class="desc">2025年畢業，蟹足腫患者的病痛經驗研究</div>
            </div>
          </li>
        </ul>
      </div>

    </div> </div> </div> </section>

{{ if .Site.Data.gallery.enable }}
{{ with .Site.Data.gallery }}
<section class="section-sm pb-0">
<div class="container-fluid px-0">
  <div class="text-center">
    <h4 class="widget-title">My Gallery</h4>
  </div>
  <div class="row no-gutters">
    {{ range .gallery }}
      {{- $src := strings.TrimPrefix "/" .image -}}
      {{- $img := resources.Get $src -}}
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        {{ if $img }}
          {{- $webp := $img.Resize "400x webp" -}}
          <a href="{{ $img.RelPermalink }}" class="venobox" data-gall="gallery">
            <img class="img-fluid w-100" src="{{ $webp.RelPermalink }}" alt="gallery-img">
          </a>
        {{ else }}
          <a href="{{ .image | absURL }}" class="venobox" data-gall="gallery">
            <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="gallery-img">
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
</section>
<br><br><br><br>
{{ end }}
{{ end }}

{{ end }}