/* typography */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

// 定義字體變數（確保主題引用這兩個變數）
$primary-font: 'Open Sans', 'Noto Sans TC', sans-serif;
$body-font: 'Open Sans', 'Noto Sans TC', sans-serif;

body {
  line-height: 0.9;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 16px;
  line-height: 1.7;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 700;
  line-height: 1.2;
}

a{
  &.h1,&.h2,&.h3,&.h4,&.h5,&.h6{
    color: $text-color-dark;
  }
}

h1, .h1{
  font-size: 45px;
}

h2, .h2{
  font-size: 36px;
}

h3, .h3{
  font-size: 28px;
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 16px;
}
