// Color Variables
$primary-color: rgba(111, 202, 209, 82);
$text-color: #505050;
$text-color-dark: #161616;
$text-color-light: #959595;
$body-color: rgb(255, 255, 255);
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$gray: #f4fcff;

// Font Variables
// 將英文 Open Sans 放在最前面，確保數字與英文優先套用它
$primary-font: 'Open Sans', 'Noto Sans TC', sans-serif;
$icon-font: 'themify';