{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-white bg-transparent border-bottom pl-0">

      {{/* 手機版 Logo */}}
      <a class="navbar-brand mobile-view" href="{{ .Site.BaseURL }}">
        <img class="img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
      </a>

      {{/* 漢堡選單按鈕 */}}
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu h3"></i>
      </button>

      {{/* Collapse 區域 */}}
      <div class="collapse navbar-collapse text-center" id="navigation">

        {{/* 社群連結 + 毛生按鈕（左側） */}}
        <ul class="navbar-nav mr-auto">
          {{ range .Site.Params.social }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
          </li>
          {{ end }}

          {{/* 毛生按鈕：在 collapse 裡，手機展開可見，桌機也看得到 */}}
          <li class="nav-item">
            {{ partial "bunny-toggle.html" . }}
          </li>
        </ul>

        {{/* 桌機版：中央 Logo */}}
        <a class="navbar-brand mx-auto desktop-view" href="{{ .Site.BaseURL }}">
          <img class="img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
        </a>

        {{/* 右側選單 */}}
        <ul class="navbar-nav">
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}

          <li class="nav-item">
            <a href="{{ "/search" | absURL }}" class="nav-link search-icon" title="搜尋">
              <i class="ti-search"></i>
            </a>
          </li>
        </ul>

        {{/* nav 按鈕（選用） */}}
        {{ if .Site.Params.navButton.enable }}
        <a href="{{ .Site.Params.navButton.link | absURL }}"
          class="btn btn-primary ml-lg-4">{{ .Site.Params.navButton.label }}</a>
        {{ end }}

      </div>{{/* end collapse */}}
    </nav>
  </div>

  <style>
    .search-icon {
      color: #000 !important;
      margin-right: 1rem !important;
      padding-left: 1rem !important;
      font-size: 18px;
    }
    .search-icon:hover {
      color: rgba(111, 202, 209, 82) !important;
    }
    .navbar-nav .nav-item:first-child .nav-link {
      font-size: 18px;
      margin-left: 0rem !important;
    }
    .navbar-nav .nav-item:nth-child(2) .nav-link {
      font-size: 18px;
      margin-right: 0rem !important;
    }
  </style>

</header>
{{ "<!-- /navigation -->" | safeHTML }}
