{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="/pagefind/pagefind-ui.js"></script>
        <div id="search"></div>
        <script>
          window.addEventListener('DOMContentLoaded', function() {
            new PagefindUI({
              element: "#search",
              showImages: false
            });
          });
        </script>
      </div>
    </div>
  </div>
</section>
{{ end }}